.burger {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    right: 27px;
    top: 20px;
    z-index: 5;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3.4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
.traeMenu{
   animation-duration: .2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
    animation-name: togle_view_menu;
    transition: .2s;
}
@keyframes togle_view_menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
aside{
    width: 180px;
    height: 100%;
    position: fixed;
    right: 8px;
    top: 77px;
    background-color: #2D2C69;
    opacity: 0;
    z-index: 10;
    
}
.menu_item{
    display: block;
    padding: 12px 5px 5px 25px;
    color: white;
    text-decoration: none;
}
