@import url("https://fonts.googleapis.com/css?family=Lato:900|Montserrat");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
#loader {
  border: 2px solid white;
  border-top: 2px solid #2d2c69;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.5s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  width: 380px;
}
nav {
  position: relative;
}
.logo {
  width: 180px;
  margin: 5px 0px 0px 5px;
}
main {
  background-color: hsl(199, 100%, 74%);
  height: 560px;
}
main h1 {
  text-align: right;
  margin: 0% 5px 1% 5px;
  padding: 5% 5% 1% 5%;
  color: #182028;
}
.mainImg {
  padding: 5%;
  height: 100%;
}
.stateOfTheArt {
  background: linear-gradient(to right, #00ffcc 0%, #9999ff 100%);
  position: relative;
  height: 180px;
  margin: 0px 0px -1px 0px;
  width: 100%;
}
section h2 {
  margin: 0%;
  color: #182028;
  margin: 0px 15px 0px 0px;
  padding: 10px 0px 0px 0px;
  float: right;
}
.technologies {
  position: absolute;
  margin: 17% 15px 0px 0px;
  top: 0px;
  right: 0px;
  text-align: right;
  color: #182028;
  font-size: 0.7em;
}
#bolaSvg {
  width: 145px;
  position: absolute;
  top: 15%;
  left: 2%;
}
.stack {
  background-color: #121e2d;
  height: 180px;
  position: relative;
}
.rubik {
  width: 110px;
  position: absolute;
  top: 34px;
  right: 25px;
}
.stack h2 {
  position: absolute;
  top: 1px;
  left: 25px;
  color: #c3c3c3;
}
.stackText {
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 45px;
  left: 25px;
  font-size: 0.75em;
  color: #c3c3c3;
}
.idea {
  background-color: hsl(199, 100%, 74%);
  height: 160px;
  position: relative;
}
.idea h2 {
  position: absolute;
  top: 15px;
  left: 25px;
  color: #121e2d;
}
.ideaText {
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 65px;
  left: 25px;
  color: #182028;
  font-size: 0.75em;
}
.mainPortrait {
  border-radius: 50%;
  margin: 0px;
  position: absolute;
  width: 120px;
  top: 10px;
  right: 18px;
}
.aPost:nth-child(1) {
  background: linear-gradient(to top right, #2274a5 48%, #e71d36 157%);
  color: #c3c3c3;
}
.aPost:nth-child(odd) {
  background-color: #10354b;
}

.aPost:nth-child(even) {
  background-color: #121e2d;
  color: white;
}
.aPost {
  background-color: #9999ff;
  height: 100%;
  padding: 10px 20px 5px 0px;
  margin: -1px 0px 0px 0px;
}
.aPostTitle {
  margin: 0px 0px 0px 23px;
  padding: 10px 20px 0px 0px;
  font-size: 1.1em;
  color: #c3c3c3;
}
.aPostText {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 25px;
  font-size: 0.7em;
  width: 100%;
  color: white;
}
.readMore {
  margin: 0px 0px 0px 25px;
  width: 90%;
  height: 20px;
  font-size: 0.8em;
}
.readMore:link {
  text-decoration: none;
  color: #c3c3c3;
}
.readMore:visited {
  color: #c3c3c3;
}
.link-more {
  display: none;
}
.top_line {
  display: none;
}
footer {
  height: 50px;
  position: relative;
  margin: 0px;
}
footer img {
  width: 22px;
  float: right;
  margin: 0px 20px 0px 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.footerContainer {
  position: relative;
  top: 0px;
  left: 0px;
  margin: 5px 0px 0px 20px;
  padding: 0px 0px 0px 5px;
  width: 100%;
}
.footer_item {
  font-size: 0.7em;
  margin: 0px;
  margin: 0px 0px 0px 0px;
}
.footer_item:link {
  text-decoration: none;
  color: #182028;
}
.footer_item:visited {
  text-decoration: none;
  color: #182028;
}
/* /////////////////////////// The Team starts ////  */
.theTeamNav {
  position: relative;
  background-color: #86a5d9;
}
.theTeamLogo {
  width: 180px;
  margin: 5px 0px 0px 5px;
}
.theTeamMain {
  height: 100%;
  background: transparent;
}
.theTeamContainer {
  font-size: 1em;
}
.theTeamContainer h1 {
  text-align: center;
  font-size: 1.6em;
  margin: 0px;
}
.perspectMainContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(to bottom, #86a5d9, #fff);
}
#perspectContainer {
  perspective: 40px;
}

#inner {
  width: 250px;
  height: 250px;
  background-color: white;
  transition: transform 0.5s;
  background-image: url(http://tintinve.com/kea/portrait1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(22%);
  border-radius: 50%;
  padding: 10px;
  box-shadow: 10px 5px 20px #177ba0;
  margin-bottom: 15px;
}
#teamMemberName {
  text-align: center;
  font-size: 1.2em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#teamMemberTittle {
  text-align: center;
  font-size: 0.9em;
  margin: 4px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.teamDiv1 {
  height: 500px;
  position: relative;
  background-image: url(/assets/img/1x/kampus_kea.png);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
}
.teamTitle {
  background-color: white;
  text-align: right;
  font-size: 1em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 230px;
  left: 180px;
  width: 190px;
  opacity: 0.85;
}
.teamText1 {
  background-color: white;
  text-align: right;
  font-size: 1em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 320px;
  left: 180px;
  width: 190px;
  opacity: 0.85;
}
.teamText2 {
  background-color: white;
  text-align: right;
  font-size: 0.8em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 372px;
  left: 180px;
  width: 190px;
  opacity: 0.85;
}
.teamDiv2 {
  height: 200px;
  background: linear-gradient(to bottom, #646057 4%, #ffffff 36%);
  position: relative;
}
.designSoftware {
  background-color: white;
  text-align: left;
  font-size: 0.8em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top: 15px;
  left: 14px;
  width: 190px;
  opacity: 0.75;
}
#animate-area {
  width: 100%;
  height: 200px;
  background-image: url(/assets/img/1x/horizontal.png);
  background-position: 0px 50px;
  background-repeat: repeat-x;
  animation: animatedBackground 950s linear infinite;
}
@keyframes animatedBackground {
  from {
    background-position: 0 55px;
  }
  to {
    background-position: 1000% 55px;
  }
}

.project {
  height: 370px;
  color: #177ba0;
}
.project1 {
  height: 290px;
}
#reponsiveImg {
  width: 100px;
}
.projectFoto {
  width: 160px;
  padding: 15px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.projectTitle {
  text-align: center;
  width: 100%;
}
.techLogo {
  width: 80px;
  margin: 0px 0px 0px 29px;
}
.wordPress {
  width: 250px;
  margin: 0px 0px 0px 59px;
}
.project a {
  display: block;
  margin: 10px 0px 10px 0px;
}
#eventlist {
  background-color: gray;
}
#titleSubpage {
  display: block;
}
@media all and (min-width: 600px) {
  body {
    width: 600px;
  }
  main {
    position: relative;
  }
  main h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    margin: 10px 0px 0px 1%;
    padding: 0px;
  }
  .mainImg {
    position: absolute;
    top: 20%;
    left: 13%;
    width: 440px;
    padding: 5%;
    height: 100%;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .stateOfTheArt {
    grid-column: 1 / 2;
    grid-row: 1/2;
    width: 100%;
    background: transparent;
    background-color: #121e2d;
  }
  section h2 {
    color: #c3c3c3;
  }
  .technologies {
    color: #c3c3c3;
  }
  .stack {
    grid-column: 2 / 3;
    grid-row: 1/2;
    width: 100%;
    font-size: 0.95em;
  }
  .rubik {
    width: 100px;
    top: 39px;
  }
  .idea {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2/3;
  }
  .idea h2 {
    top: 44px;
    left: 40px;
    font-size: 2.1em;
  }
  .ideaText {
    top: 50px;
    left: 225px;
    font-size: 0.9em;
  }
  .mainPortrait {
    width: 120px;
    top: 15px;
    right: 38px;
  }
  #blog {
    grid-column: 1 / 3;
    grid-row: 3/4;
    width: 100%;
  }
  .theTeamMain {
    height: 100%;
    background: transparent;
  }
  .theTeamContainer {
    font-size: 1em;
  }
  .theTeamContainer img {
    padding: 10px;
    width: 140px;
    border-radius: 20%;
    filter: grayscale(0.5);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #teamMemberName {
    top: 259px;
  }
  #teamMemberTittle {
    margin: 34px 0px 0px 0px;
  }
  .teamTitle {
    font-size: 1.3em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 130px;
    left: 340px;
    width: 240px;
    opacity: 0.85;
  }
  .teamText1 {
    font-size: 1.3em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 245px;
    left: 340px;
    width: 240px;
    opacity: 0.85;
  }
  .teamText2 {
    font-size: 0.9em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 310px;
    left: 340px;
    width: 240px;
    opacity: 0.85;
  }
  .teamDiv1 {
    height: 670px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .project {
    height: 470px;
  }
  .project1 {
    height: 290px;
  }
  .projectFoto {
    width: 260px;
    padding: 15px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .techLogo {
    margin: 0px 0px 0px 82px;
  }
  .wordPress {
    width: 250px;
    margin: 0px 0px 0px 172px;
  }
  footer {
    grid-column: 1 / 3;
    grid-row: 4/5;
    width: 100%;
  }
  #titleSubpage {
    display: none;
  }
}
@media all and (min-width: 1024px) {
  body {
    width: 1024px;
  }
  main {
    position: relative;
    height: 400px;
    background: transparent;
    background-color: hsl(199, 100%, 74%);
  }
  main h1 {
    width: 200px;
    position: absolute;
    top: 40px;
    left: 690px;
    text-align: left;
    font-size: 2.5em;
  }
  .mainImg {
    position: absolute;
    top: 15px;
    right: 900px;
    width: 360px;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .stateOfTheArt {
    grid-row: 1/2;
    grid-column: 1 / 2;
    width: 100%;
    background: transparent;
    background-color: #121e2d;
  }
  #stateH2 {
    text-align: right;
    width: 400px;
    float: right;
  }
  .technologies {
    margin: 50px 65px 0px 0px;
    right: 0px;
    text-align: left;
  }
  #bolaSvg {
    width: 160px;
    position: absolute;
    top: 10%;
    left: 8%;
  }
  .stack {
    grid-row: 1/2;
    grid-column: 2 / 3;
    width: 100%;
    font-size: 0.95em;
  }
  .stack h2 {
    top: 4px;
    left: 275px;
  }
  .rubik {
    width: 115px;
    top: 23px;
    right: 290px;
  }
  .stackText {
    margin: 43px 75px 0px 0px;
    top: 0px;
    left: 294px;
    font-size: 0.79em;
    text-align: right;
  }
  .idea {
    width: 100%;
    grid-row: 2/3;
    grid-column: 1 / 3;
  }
  .idea h2 {
    top: 44px;
    left: 35px;
    font-size: 2.1em;
  }
  .ideaText {
    top: 50px;
    left: 255px;
    font-size: 1em;
  }
  .mainPortrait {
    width: 120px;
    top: 15px;
    right: 288px;
  }
  #teamMemberName {
    top: 260px;
    left: 5px;
    width: 250px;
  }
  #teamMemberTittle {
    margin: 40px 0px 0px 0px;
  }
  .teamDiv1 {
    height: 700px;
  }
  .teamTitle {
    font-size: 1.7em;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    top: 105px;
    left: 380px;
    width: 600px;
    opacity: 0.85;
  }
  .teamText1 {
    font-size: 1.4em;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    top: 233px;
    left: 380px;
    width: 600px;
    opacity: 0.85;
  }
  .teamText2 {
    font-size: 1em;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    top: 293px;
    left: 380px;
    width: 600px;
    opacity: 0.85;
  }
  .designSoftware {
    font-size: 1em;
    width: 420px;
    margin-top: 2px;
    padding: 5px;
  }
  #blog {
    grid-row: 3/4;
    grid-column: 1 / 3;
    width: 100%;
  }
  footer {
    grid-row: 4/5;
    grid-column: 1 / 3;
    width: 100%;
  }
}
