@import url('https://fonts.googleapis.com/css?family=Lato:900|Montserrat');
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
#loader{
    border: 2px solid white;
    border-top: 2px solid #2D2C69;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin .5s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body{
    width: 374px;
}
nav{
    position: relative;
}
.logo {
    width: 180px;
    margin: 5px 0px 0px 5px;
}
main{
    background: linear-gradient(to bottom, #ffffff 2%, #2f363d 72%);
}
h1{
    text-align: right;
    margin: 5% 5px 1% 5px;
    padding: 5% 5% 1% 5%;
    color: #182028;
}
.mainImg{
    padding: 5%;
    height: 100%;
}
.stateOfTheArt{
    background: linear-gradient(to right, #00ffcc 0%, #9999ff 100%);
    position: relative;

}
section h2{
    text-align: right;
    margin: 0%;
    color:  #182028;
    margin: 0px 15px 0px 0px;
    padding: 10px 0px 0px 0px;
    float: right;
}
.technologies{
    position: absolute;
    margin: 12% 15px 0px 0px;
    top: 0px;
    right: 0px;
    text-align: right;
    color:  #182028;
    font-size: 0.75em;
}
#rubik{
    width: 150px;
    margin:30px 0px 20px 10px;
}
hr {
    height: 1px;
    background-color: black;
}
.top_line{
    display: none;
}

@media all and (min-width:1024px) {
    section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100%;
    }
    article:first-child {
        width: 100%;
        height: 100%;
        grid-column: 1 / 2;
        grid-row: 1;
    }
    article:nth-child(2) {
        width: 100%;
        height: 100%;
        grid-column: 2 / 4;
        grid-row: 1;
    }
    article:nth-child(3) {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 2 / 2;
    }
    article:nth-child(4) {
        grid-column: 3;
        grid-row: 2;
    }
    hr{
        display: none;
    }
    .main_img {
        height: auto;
    }
 
    article:nth-child(n + 3) .main_img{
        height: 250px;
    }
    .top_line{
    display: block;
}
    
}
*/
